a {
  color:#fff;
  text-decoration: none;
}
.app-body {
  display: block;
  height: 100vh;
  width: 100%;
  @media (min-width: 940px) {
  display: flex;
  }
}
.app-routes {
  flex:1;
  overflow: hidden;
}
